{% extends 'admin_templates/base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<main class="container my-5">
    <br><br><br>
    {% comment %} {% include 'admin_templates/admin_nav.html' %} {% endcomment %}
    
    <div class="text-center mb-5">
        <h2 class="display-4">Room Statistics</h2>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Available Rooms</h5>
                    <p class="card-text">{{ available_rooms }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Full Rooms</h5>
                    <p class="card-text">{{ full_rooms }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <img src="data:image/png;base64,{{ pie_chart_uri }}" alt="Room Statistics Pie Chart" class="img-fluid"/>
    </div>
</main>
{% endblock %}
